.main-div mat-card{
    padding: 0px;
}

.login-form{
    padding: 20px;
}

.color-toolbar{
    background-image: linear-gradient(rgba(227, 25, 55, 1), rgba(82, 54, 171, 1));
}

.example-right-align {
    text-align: right;
  }