<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar class="color-toolbar" fxLayoutAlign="center center">CGI</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)= "submitHandle()">
          
            <app-text-input labelName="Email" typeName="email" inputName="email" [formControlInput]="formControlEmail">
                <mat-error *ngIf="formControlEmail.invalid">{{getErrorMessageEmail()}}</mat-error>
            </app-text-input> 
            
            <app-password-input [hide]="hide" [formControlInput]="formControlPassword">
                <mat-error *ngIf="formControlPassword.invalid">{{getErrorMessagePassword()}}</mat-error>
            </app-password-input>
            
            
              
            <app-button fxLayoutAlign="stretch" fxLayout="column"></app-button>
              
          </form>
      
          
    </mat-card>
</div>
